<ion-view>
    <ion-content style="top:0px" overflow-scroll="false" class="custom">
       
        <div class="about-set">
            <div class="map-set">
            <h2 class="title-c"><font color="white"><b>Pay Bills</b></font></h2>

            </div>
        </div>

         <ul class="list gem-friend-list">
          <a class="item item-avatar item-borderless" href = "#/app/articles" ng-click="get('Electric Bill')">
            <img src="img/app/electric_bill.png" alt="" class="gem-friend-list-profile-pic"> <!-- End Image - absolute left/top -->
            <div class="gem-friend-list-text" >
              <b>Electric Bill</b>
              <p>View and Pay your Electric Bill</p>
            </div>
            <div class="item-icon-right">
             <i class="icon ion-ios-arrow-right"></i>
            </div>
          </a>
          <a class="item item-avatar item-borderless" href = "#/app/articles" ng-click="get('Water Bill')">
            <img src="img/app/water_bills.png" alt="" class="gem-friend-list-profile-pic"> <!-- End Image - absolute left/top -->
            <div class="gem-friend-list-text">
              <b>Water Bill</b>
              <p>View and Pay Your Water Bill</p>
            </div>
            <div class="item-icon-right">
             <i class="icon ion-ios-arrow-right"></i>
            </div>
          </a>
          <a class="item item-avatar item-borderless" href = "#/app/articles" ng-click="get('Service Charge')">
            <img src="img/app/service_charge.jpg" alt="" > <!-- End Image - absolute left/top -->
            <div class="gem-friend-list-text">
              <b>Service Charge</b>
              <p>Pay Service Charge</p>
            </div>
            <div class="item-icon-right">
             <i class="icon ion-ios-arrow-right"></i>
            </div>
          </a>
      </ul>
        
    </ion-content>
</ion-view>
