<ion-view style="background-color:#8ea2e2;">

    <div class="bar bar-header bar-calm">
    <button class="button button-icon ion-chevron-left" ng-click="goBack()"></button>

        <h1 class="title">Visitors</h1>
    <button class="button button-icon ln-refresh2" ng-click="doRefresh()"></button>

    </div>
    <div class="bar bar-subheader item-input-inset" style="background-color:#8ea2e2;">
                <label class="item-input-wrapper">
                  <i class="icon ion-search placeholder-icon"></i>
                     <input type="text" placeholder="search resident" ng-model="input.filterVis">
                </label>
            </div>



  <ion-content class="has-subheader gem-ion-content" style="background-color:#8ea2e2;" overflow-scroll="true" ng-repeat="x in data|filter:input.filterVis">
    <ion-refresher on-refresh="doRefresh()"
                     pulling-text="Pull to refresh..."
                     >
                     
      </ion-refresher>
    
        <!-- <a class="item gate padded"  style="background-color:#8ea2e2;">
              <p> <h3><font color="blue"><b>Visitor Name </font>: {{x.names}} </b></h3></p>
             <h3><font color="black"><b> Date of Arrival: {{x.date}}</b> </font></h3>
               <div class="button button-small" ng-click="click()" style="float: right" ng-show="show" >
                 Cleared
                </div>
                <div class="button button-small" ng-click="click()" style="float: right" ng-hide="hide" >
                 Clear
                </div>
        </a> -->

        <div class = "item gate padded" ng-repeat="x in data | filter:input.filterVis" style="background-color:#8ea2e2;">
        <p> <h3><b> Visitor Name:<font color="blue"> {{x.names}}</font> </b></h3></p>
         <h3><b> Date of arrival: <font color="blue">{{x.date}}</font></b> </h3></font>
         <div class="button button-small" ng-click="click()" style="float: right" ng-show="show" >
                 Cleared
                </div>
                <div class="button button-small" ng-click="click()" style="float: right" ng-hide="hide" >
                 Clear
                </div>
         <!-- <div class="icon ion-trash-a icon assertive custom" ng-click="getVid($index, x.id)"></div> -->

    </div>

        
      
  </ion-content>

</ion-view>

<!-- ln-delete -->
